<mat-banner>
  <mat-banner-graphic-text-wrapper>
    <div matBannerGraphic>
      <mat-icon>outline_error</mat-icon>
    </div>
    <div matBannerText>Ceci est le message de la banner.</div>
  </mat-banner-graphic-text-wrapper>
  <mat-banner-actions>
    <button mat-button matSecondaryAction>Secondary</button>
    <button mat-button matPrimaryAction>Primary</button>
  </mat-banner-actions>
</mat-banner>

<mat-avatar displayName="Scarlett JOHANSON"
  color="accent"
  profilImage="./assets/scarlett.jpg"></mat-avatar>
